/* imported as dependency immediately after original variables in materialize.scss */

/*** Colors ***/
// note: colors are set in main _variables.scss, because setting color here requires to also overwrite all other variables that depend on that color.

/*** Buttons ***/

// custom breakpoints
$large-screen-up: 1401px;
$large-screen: 1400px;

// adding additional breakpoint for xl screens
$xlarge-and-up: "only screen and (min-width : #{$large-screen-up})";

/*** Navbar ***/
$navbar-height: 50px;
$navbar-height-mobile: 50px;

/*** Cards ***/
$card-padding: 0.5rem;

/** Dropdown ****/
$dropdown-color: #444;
