/*
 * _navbar.scss
 */
nav {

  ul {
    a {
      display: inline-block; // fix IE collapsing
    }
  }
  .brand-logo {

    img {
      vertical-align: middle;
      height: ($navbar-height / 2);
    }
  }
}
